@(tasks: List[Task]) @main("Cadastro de tarefa") {

<div class="container">
	<div class="header">
		<ul class="nav nav-pills pull-right">
			<li class="active"><a href="@routes.TaskController.novo()">Nova Tarefa</a></li>
			<li class="active"><a href="/">Home</a></li>
		</ul>
		<h3 class="text-muted">Tarefas Cadastradas<h3>
	</div>
	<table class="table table-striped table-bordered" cellpadding="0"
		cellspacing="0" border="0" width="100%">
		<tfoot>
			@if(tasks.isEmpty) {
				<tr>
					<th><a href="/">Não há registro cadastrado. =(</a></th>
				</tr>
			} else {
				@for(task <- tasks) {
					<tr>
						<th><a href="@routes.TaskController.detalhar(task.id)">@task.name</a></th>
					</tr>
				}
			}
		</tfoot>
	</table>
</div>

}
